AUTH0_DOMAIN='xyz.auth0.com'

# Only needed for unit tests to authenticate
# and get valid tokens using @funcmaticjs/auth0-username-password
AUTH0_CLIENTID='YourAuth0AppClientId'
AUTH0_CLIENTSECRET='YourAuth0AppClientSecret'
AUTH0_AUDIENCE='https://xyz.auth0.com/api/v2/'
AUTH0_SCOPE='openid profile email'
AUTH0_USERNAME='UserInYourAppDomain'
AUTH0_PASSWORD='UserPassword'